.hero{
    width: 100%;
    height: 75vh;
    align-items:center;
    display: grid;
    grid-template-columns:60% 40%;
}
.intro-img{
    width:100%;
    height:100%;
    margin:0px auto;
    text-align:center;
}
.intro-img img{
    width:50%;
    height: 70%;
    border-radius:50%;
    object-fit:cover;
}

.intro-heading{
    text-align : left;
    color:rgb(14 115 246);
    font-size: 2rem;
    padding-top:80px;
    padding-left:40px;
}

.centerDiv{
    display:flex;
    justify-content:center;
    align-items:center
}

.paperBackground{
    background:rgb(170 170 170);
}


@media (max-width:640px){
    
    .hero .intro-heading{
        font-size: 1rem;
    }

    .hero .typing-container{
        font-size:3rem;
    }
}

@media (max-width:480px){
    .hero .typing-container{
        font-size:2rem;
    }

}

.typing-container {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(22, end) infinite alternate,
               blink 0.7s infinite;
  }
  
  @keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
.heading{
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    border-radius: 22px;
    font-weight: 800;
    text-align: center;
    color: aliceblue;
    font-size:larger;
    margin: 1rem 0;
}

.paddingLeftRight{
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width:900px) {
    .hero{
        grid-template-columns:auto;
        height:100vh;
    }
    .intro-heading{
        text-align: center;
        padding-left:0px;
    }
}

.workIcon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}

.companyName{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.positionName{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.jobDiscreption{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.jobDiscreption ul li{
    list-style-type: square;

}

.inputField{
    width:100%;
    height:40px;
    align-items: center;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    border: 2px solid #ccc;
    background-color:#ffffff;
    white-space:normal;
    margin-top: 1rem;
    padding-left: 10px;
    
}

.inputField:focus-within{
    border: 2px solid blueviolet;
}


.customInput{
    border:none;
    outline: none;
    flex:1;
    background: transparent;
    padding-left: 5px;
}

.customInputMessage{
    height:100px;
    white-space: normal; /* Ensures text wraps */
    word-break: break-word; /* Ensures long words wrap */
    word-wrap: break-word;
    overflow-y: auto;
    font-family:inherit;
    resize: none;
    border: none;
}

.inputFieldMessage{
    height:110px;
    resize:none;
    border: 2px solid #ccc;
    align-items: normal !important;
    padding-top: 5px;
}


.justifyContent{
    text-align: justify;
    text-justify: inter-word;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

@media (max-width:900px){
    .contactInfo{
        flex-direction: column;
    }
}
.otherProfiles{
    align-items: center;
    position: fixed;
    z-index: 15;
    top: 50%;
    height: 100vh;
    right: 0;
    padding-right: 10px;
}

.contactIcons{
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;
}

.button{
    height: 40px;
    width: 130px;
    border-radius: 1.5rem;
    border: 2px solid rgb(88, 14, 246);
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    margin: 1rem;
}

.button:hover{
    background-color: rgb(88, 14, 246);
    color: #ffffff;
}

.disableButton{
    height: 40px;
    width: 130px;
    border-radius: 1.5rem;
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    margin: 1rem 0;
}

.header{
    align-items:center;
    padding:1rem;
    position: fixed;
    width: 100%;
    height:90px;
    z-index:10;
    backdrop-filter: blur(2px); /* Blurs the text behind */     
    display: grid;
    grid-template-columns:40% 60%;       

}


.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px){
    .header{
        grid-template-columns:25% 70% ;
    }

    .logo{
        height: 50px;
        width: 50px;
    }
}

.menu{
    display: flex;
}

.menuButton{
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: none;
    margin: 0 10px;
    padding: 10px;
    font-weight: 800;
}

.menuClick{
    background-color: rgb(88, 14, 246);
    color: #ffffff;
}


.skillSet{
    display: grid;
    grid-template-columns:50% 50%;
}
.skillSet ul li{
    list-style-type: circle;
}

.contactLinks{
    display: flex;
    align-items: center;
}